@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=Rubik:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap');


:root {
  --font: 'Rubik', sans-serif;
  --font-mono: 'IBM Plex Mono', monospace;

  --bg: #000;
  --meta: #888;
  --accent: #FB0269;
  --highlight: #FB0269;
  --highlight-bg:#20000F;
  --text: #fafafa;

  --blue-highlight: #35A0FF;
  --blue-highlight-bg: #061521;

  --para-size: 2.4rem;
}

* {
  box-sizing: border-box;
}

body,
html {
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  font-feature-settings: 'calt', 'liga', 'hist', 'onum', 'pnum';

  overflow: auto;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  color: var(--text);
  background-color: var(--bg);
}
html{
  font-size: 62.5%;
}
body{
  font-size: 1.6rem;
}
em{
  color: var(--highlight);
  background-color: var(--highlight-bg);
  font-style: normal;
  padding: 0 0.3rem 0.2rem;
}
.highlight-blue{
  color: var(--blue-highlight);
  background-color: var(--blue-highlight-bg);
}
#slide {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
  padding: 1rem 1.5rem;

  text-align: center;

  -webkit-overflow-scrolling: touch;
}

#slide ul {
    text-align: right;
    padding-right: 5.5rem;
}
#slide ul li::before{
  content: '-';
  background-color: var(--bg);
  padding-right: 1rem;
}
#slide ul li{
  list-style: none;
  display: inline;
  font-size: var(--para-size);
  color: var(--blue-highlight);
  background-color: var(--blue-highlight-bg);
}

a {
  color: var(--text);

  text-decoration-skip-ink: auto;
}

blockquote {
  font-size: var(--para-size);
  width: 64vw;
  text-align: left;
  padding-top: 2rem;
  margin-left: 1rem;
}

@media (max-width: 900px) {
  blockquote {
    width: 90vw;
  }
}

blockquote div::before {
  content: '\201C';
}

blockquote div::after {
  content: '\201D';
}

cite {
  font-size: 80%;
  font-weight: normal;
  font-style: normal;

  display: block;

  margin-top: 2rem;
}

cite::before {
  content: '\2014\00a0';
}

pre {
  font-size: 2.2rem;
  display: inline-block;
  margin: 2rem 0;
  text-align: left;
  color: var(--blue-highlight);
}

code {
  font-family: var(--font-mono);
  font-weight: 400;
  letter-spacing: -0.2rem;
  padding: 0.1rem 0.5rem 0.2rem 0.3rem;
  color: rgb(197,200,198);
  background: #1C2022;
  border-radius: 5px;
  font-size: 90%;
}

a:hover {
  color: var(--accent);
}

h1 {
  font-size: 5.4rem;
  font-family: var(--font);
  margin-top: 0;
  margin-bottom: 2rem;
}

h2 {
  font-size: 3.6rem;
  margin-bottom: 2rem;
}
h3{
  font-size: 3rem;
  margin-bottom: 2rem;
}

p {
  color: var(--text);
  font-size: var(--para-size);
  line-height: 1.5;
  padding: 1.5rem 4rem 0;
  margin-bottom: 1.5rem;
  margin-top: 0rem;
}

header {
  font-size: 50%;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 20px;

  user-select: none;
}

header a,
time {
  text-decoration: none;

  color: var(--meta);
}

header a:hover {
  color: var(--meta);
}

header span {
  color: var(--text);
}
.font-small{
  font-size: 2.2rem;
}

